# Datan analysointi S2020 - Tehtävät kerta 2

Palauta ratkaisusi Moodleen, kun olet ensin testannut ratkaisusi toimivuuden Notebookilla tai omalla koneellasi. Kun olet palauttanut tehtäväsi Moodleen, ne arvioidaan pistein:
* 1,0 p. Vastaus oikein ensimmäisellä yrityksellä.
* 0,5 p. Vastaus oikein toisella yrityksellä.
* 0 p. Vastaus annettu kolmannella yrityksellä.

**Tee tehtävät ilman for-silmukoita tms.**

## 1. Kunnat

Tee funktio kunnat(url), joka tekee seuraavaa:
* lataa datan DataFrameen url:sta (sarakkeiden erotinmerkki on puolipiste ja desimaalimerkki on pilkku),
* kopioi uuteen DataFrameen kaikki sarakkeet ja rivit, joissa sarakkeessa 'maakunta' esiintyvät merkkijonot 'Uusimaa', 'Keski-Pohjanmaa' tai 'Keski-Suomi' ja sarakkeen 'Väkiluku' arvo on pienempi kuin 10 000,
* kopioi edellisen DataFramen uuteen DataFrameen siten, että ensin on lajiteltu sarake 'maakunta' ja sitten sarake 'kunta' aakkosissa nousevaan järjestykseen,
* tulostaa lopputulokseen viisi ensimmäistä riviä.

Tehtävän url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv

Esimerkiksi kunnat(url) tulostaa:

| |maakunta |      	kunta  			|Väkiluku|
|:---|:---|:---|:---|
|22       	|Keski-Pohjanmaa|      	Halsua      	|1165    |
|75       	|Keski-Pohjanmaa|      	Kannus      	|5502    |
|84       	|Keski-Pohjanmaa|   	Kaustinen      	|4273    |
|136      	|Keski-Pohjanmaa|  		Lestijärvi      |737     |
|191      	|Keski-Pohjanmaa|       Perho      		|2825    |

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [197]:

def kunnat(url):
    
    import pandas as pd
    
    df = pd.read_csv(url, sep=';', decimal=',')
    # Kirjoita vastauksesi tähän alle:
    maakunnat = ['Uusimaa','Keski-Pohjanmaa','Keski-Suomi']
    df = df.loc[df['maakunta'].isin(maakunnat)]
    df = df.loc[df['Väkiluku'] < 10000]
    df = df[['maakunta','kunta','Väkiluku']]
    df = df.sort_values(by=['maakunta','kunta']) 
    # ...
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(df.head(5))

# Voit lopuksi testata tekemääsi funktiota:
url="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/kunnat.csv"
kunnat(url)

            maakunta       kunta  Väkiluku
22   Keski-Pohjanmaa      Halsua      1165
75   Keski-Pohjanmaa      Kannus      5502
84   Keski-Pohjanmaa   Kaustinen      4273
136  Keski-Pohjanmaa  Lestijärvi       737
191  Keski-Pohjanmaa       Perho      2825

## 2. Sähkön hintatietojen luokittelua

Tee funktio sahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* tekee DataFrameen uuden sarakkeen 'hintaluokka', jossa on viisi hintaluokkaa sarakkeesta 'Year Total €/MWh' siten, että alimman ja ylimmän hintaluokan hinnat ovat 'Year Total €/MWh' sarakkeen pienimmät ja suurimmat arvot,
* tulostaa 'hintaluokka' sarakkeen hintaluokkien lukumäärät value_counts()-metodilla.
* tarkista lopuksi, että funktio jäjestää tulosteen samoin kuin esimerkkivastauksessa.

Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, sahko(url) tulostaa:** \
(12.06, 21.256]     21 \
(21.256, 30.452]    85 \
(30.452, 39.648]    78 \
(39.648, 48.844]    22 \
(48.844, 58.04]     28 \
Name: hintaluokka, dtype: int64

In [7]:

def sahko(url):
    
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv(url, sep=',', decimal='.')
    
    df[df.isin(['.'])] = np.nan
    
    dfMin = np.min(df['Year Total €/MWh'].astype(float))
    dfMax = np.max(df['Year Total €/MWh'].astype(float))
    
    test = np.linspace(dfMin,dfMax,6)
    
    # Kirjoita vastauksesi tähän    
    df['hintaluokka'] = pd.cut(df['Year Total €/MWh'].astype(float),test)
    
    result = df['hintaluokka'].value_counts()
    
    # Vastauksesi tulostetaan
    print(result.sort_index())
 
    
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

# Voit kokeilla funktiotasi seuraavasti:
sahko(url)

(12.06, 21.256]     21
(21.256, 30.452]    85
(30.452, 39.648]    78
(39.648, 48.844]    22
(48.844, 58.04]     28
Name: hintaluokka, dtype: int64

# 3. Sähkön hintatietojen luokittelua (2)

Tee funktio suomisahko(url), joka tekee seuraavaa:
* Lukee url:stä datan DataFrameen kun sarakkeiden erottimena on pilkku "," ja desimaalierottimena piste ",",
* jos sarakkeissa 'Year Total €/MWh' ja 'December €/MWh' niiden välillä on merkki ".", korvataan merkki numpyn nan arvolla hyödyntäen pandasin isin() metodia,
* muuntaa sarakkeiden 'Year Total €/MWh' ja 'December €/MWh' ja niiden välissä olevien sarakkaiden tietotyypiksi float,
* kopioi DataFramesta kaikki sarakkeet ja ne rivit noiden sarakkeessa 'Price area' on merkkijono 'Finland',
* laskee **koko vuoden** sähkön hinnan keskiarvon uuteen sarakkeeseen 'Average €/MWh' kuukausilta ('January €/MWh'-'December €/MWh'),
* laskee sarakkeeseen 'Below average price' kuinka monena kuukautena sähkönhinta on ollut alle vuoden keskiarvon,
* laskee sarakkeeseen 'Above average price' kuinka monena kuukautena sähkönhinta on ollut yli vuoden keskiarvon tai yhtä paljon kuin keskiarvohinta,
* tulostaa vain ne kymmenen riviä (head(10)), jolloin sarakkeiden 'Below average price' ja 'Above average price' summa on 12.


Tässä tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv

**Esimerkiksi, suomisahko(url) tulostaa:**

|  |Year|  Below average price|  Above average price|
|:---|:---|:---|:---|
|145|  1998|                    5|                    7|
|146|  1999|                    5|                    7|
|147|  2000|                    7|                    5|
|148|  2001|                    7|                    5|
|149|  2002|                    9|                    3|
|150|  2003|                    9|                    3|
|151|  2004|                    7|                    5|
|152|  2005|                    5|                    7|
|153|  2006|                    6|                    6|
|154|  2007|                    7|                    5|

**Huom!** Rivi-indeksi on esitetty ensimmäisessä sarakkeessa.

In [7]:
# Palautuksesi alkaa tästä
def suomisahko(url):
    
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv(url, sep=',', decimal='.')
    
    
    df = df[df['Price area'] == 'Finland']
    df[df.isin(['.'])] = np.nan
    da = df.iloc[:,3:15].astype(float)
    df['average'] = da.mean(axis=1)

    
    da['January €/MWh'] = da['January €/MWh'] < df['average']
    da['February €/MWh'] = da['February €/MWh'] < df['average']
    da['March €/MWh'] = da['March €/MWh'] < df['average']
    da['April €/MWh'] = da['April €/MWh'] < df['average']
    da['May €/MWh'] = da['May €/MWh'] < df['average']
    da['June €/MWh'] = da['June €/MWh'] < df['average']
    da['July €/MWh'] = da['July €/MWh'] < df['average'] 
    da['August €/MWh'] = da['August €/MWh'] < df['average']
    da['September €/MWh'] = da['September €/MWh'] < df['average']
    da['October €/MWh'] = da['October €/MWh'] < df['average']
    da['November €/MWh'] = da['November €/MWh'] < df['average']
    da['December €/MWh'] = da['December €/MWh'] < df['average']
    
    df['below'] = da.sum(1)
    df['above'] = (da.count(1))-df['below']
    df = df[(df['below']!= 0) & ((df['below']+df['above'])==12)]
    
    tulos = df.iloc[:,1:2]
    print(df[['Year','below','above']].head(10))
    
# Palautuksi päättyy tähän.
    
url = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/ehi_010_2020q2.csv"

# Voit kokeilla funktiotasi seuraavasti:
suomisahko(url)

     Year  below  above
145  1998      5      7
146  1999      5      7
147  2000      7      5
148  2001      7      5
149  2002      9      3
150  2003      9      3
151  2004      7      5
152  2005      5      7
153  2006      6      6
154  2007      7      5

## 4. Henkilötietojen muodostamista merkkijonoista

Tee funktio **mail(url)**, joka tekee seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* järjestää yhteystiedot sukunimen mukaan aakkosissa suurimmasta pienimpään(Ö->A),
* tulostaa viisi ensimmäistä riviä.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| |sukunimi |                      email|
|:---|:---|:---|
|29  |    Zovko  |         nina.zovko@azo.hr|
|173  |  Yotova  |iyotova@moew.government.bg|
|73   |  Vitola   |    evita.vitola@lvgmc.lv|
|213  |Virgovič   |radoslav.virgovic@sazp.sk|
|268  |Virgovic   |radoslav.virgovic@sazp.sk|

## 5. Henkilötietojen muodostamista merkkijonoista (2)

Tee funktio **mail(url)**, joka tekee **järjestyksessä** seuraavaa:
* lataa url:stä DataFrameen henkilötietodatan, jossa erotinmerkkinä on tabulaattori ('\t'),
* poistaa rivit, joissa 'NameOfContactPerson' sarakkeessa on samat arvot siten, että järjestyksessä ensimmäinen rivi jätetään,
* poistaa sarakkeen 'NameOfContactPerson' kaikilta riveiltä kaarisulkeet ja niiden sisällä olevat merkkijonot,
* tallentaa uuteen DataFrameen sarakkeesta 'NameOfContactPerson' sukunimen ja sarakkeesta 'Email' sähköpostiosoitteen,
* tallentaa uuteen DataFramen sarakkeeseen ('surname') vain ne rivit, joissa sukunimi sarakkeessa esiintyy aakkosia tai yhdysviiva "-" osana sukunimeä,
* tallentaa uuteen DataFrameen sarakkeen ('domainend'), jossa on sähköpostiosoitteen domainin loppuosa (esim. **fi**),
* poistaa sarakkeesta 'domainend' tyhjät merkkijonot,
* järjestää DataFramen rivit sarakkeen 'surname' mukaan aakkosittain nousevaan järjestykseen (A -> Ö),
* tulostaa DataFramesta viisi ensimmäistä riviä sarakkeista 'surname' ja 'domainend'.

Tehtävässä url=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv

**Esimerkiksi**, mail(url) tulostaa:

| | surname| domainend|
|:---|:---|:---|
|327|  Al-Hanbali|        se|
|163|   Alexandru|        ro|
|287|  Berzinskas|        lt|
|330|     Brennan|        uk|
|257|      Cassar|        mt|

In [1]:

def mail(url):
    import pandas as pd

    df = pd.read_csv(url,sep='\t')
    sarakkeet='ID\tMemberState\tReferenceYear\tNumberOfPlants\tOrganization\tAddress1\tAddress2\tCity\tState\tPostalCode\tNameOfContactPerson\tPhone\tEMail'
    nimi = df[sarakkeet].str.split('\t').str[10]
    email = df[sarakkeet].str.split('\t').str[12]
    df2=pd.DataFrame({'koko nimi':nimi, 'email': email}).drop_duplicates(subset='koko nimi') # oletuksena jätetään ensimmäinen rivi
    df2['sukunimi']=df2['koko nimi'].str.split(' ').str[-1]
    df2=df2.drop(columns='koko nimi')
    df2=df2[['sukunimi','email']]
    tulos = df2.sort_values('sukunimi', ascending=False).head(5) # Laskevaan järjestykseen.
    
    print(tulos)
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

     sukunimi                       email
29      Zovko           nina.zovko@azo.hr
173    Yotova  iyotova@moew.government.bg
73     Vitola       evita.vitola@lvgmc.lv
213  Virgovič   radoslav.virgovic@sazp.sk
268  Virgovic   radoslav.virgovic@sazp.sk

In [13]:
def mail(url):
    # Kirjoita vastauksesi tähän alle:
    
    # ...
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    
    print(tulos) # "tu(l)os".index("p")
    
# Testaa funktiotasi:
url='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta2/harjoitukset/osotteita.csv'
mail(url)

NameError: name 'tulos' is not defined